<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  {{ partial "downloader-head.html" . }}
  {{ if eq .Layout "qrpage" }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="stylesheet" href="{{ "css/qr.css" | relURL }}">
  {{ end }}
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
